.sudoku-game {
    text-align: center; 
    margin-top: 20px;
}

.update-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.difficulty-container {
    grid-row: span 1;
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    /* align-items: center; /* Align buttons vertically */
    gap: 10px;
}

.difficulty-level {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.regenerate-button {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
}