button {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(255, 209, 194);
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    /* font-size: 18px;
    font-weight: bold; */
}

button:hover {
    background-color: rgb(250, 175, 146);
}

button:active {
    background-color: rgb(250, 175, 146);
}

.sudoku-game {
    text-align: center; 
    margin-top: 20px;
}

.difficulty-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    /* align-items: center; /* Align buttons vertically */
    gap: 10px;
}

button.difficulty-level {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(255, 209, 194);
    cursor: pointer;
}

.difficulty-level:hover {
    background-color: rgb(250, 175, 146);
}