.sudoku-numbers {
    margin-top: 44px; /* 42px for alignment with sudoku grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40px;
    gap: 5px;
}

.number-button {
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.number-button.complete {
    background-color: #bbbbbb;
    color: #6b6b6b;
    cursor: default;
}

.number-button.complete:hover {
    background-color: #bbbbbb;
}

.number-button.del-button {
    grid-column: span 3; /* makes it span all 3 columns in the grid */
    width: 100%;         /* fill the space */
}